---
layout: default
---

<div class="mid_section_home">
    <h1>
        <span>marshmello</span> 
    </h1>
    <div class="about_link">
        <div class="about_me home_list">
            <ul>
                <li>
                   <p>Deep</p> 
                   <p>Learning</p>
                </li>
                <li>
                   <p>Python</p> 
                </li>
            </ul>
        </div>
        <div class="nav_link">
            <ul>
                {% include navigation.html %}
            </ul>
        </div>
    </div>
</div>  